.page {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: darkslategray;
}

.titan_panel {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: cadetblue;
}

.titan_panel .breadcrumbs {
    position: relative;
    float: left;
    width: 1000px;
    height: 40px;
    border: 1px solid red;
}

.breadcrumbs a {
    
}

.titan_panel .menu {
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
}

.titan_panel .menu .menu-button {
    position: absolute;
    float: left;
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
}

.titan_panel .menu .menu-content {
    display: none;
    position: absolute;
    top: 40px;
    width: 130px;
    height: 80px;
    right: 0px;
    background-color: aqua;
}

.titan_panel .menu .menu-content a {
    text-decoration: none;
    padding: 0px 10px;
}

.titan_panel .menu:hover .menu-content{
    display: block;
}