body {
    background-color: darkslategray;
}

.page {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: darkslategray;
}

.login {
    position: relative;
    float: left;
    width: 340px;
    height: 100%;
    background-color: cadetblue;
}

.login h1 {
    position: absolute;
    text-align: left;
    font-size: 32px;
    left: 5%;
}

.login #username {
    position: absolute;
    width: 70%;
    height: 30px;
    border-radius: 5px;
    font-size: 26px;
    color: dimgray;
    left: 5%;
    top: 125px;
}

.login #password {
    position: absolute;
    width: 70%;
    height: 30px;
    border-radius: 5px;
    font-size: 26px;
    left: 5%;
    top: 165px;
}

.login #signin {
    position: absolute;
    width: 70%;
    height: 32px;
    background-color: bisque;
    border-radius: 10px;
    font-size: 24px;
    left: 5.5%;
    top: 230px; 
}

.login #guest {
    position: absolute;
    width: 70%;
    height: 32px;
    border-radius: 10px;
    font-size: 24px;
    left: 5.5%;
    top: 265px; 
}

.login #forgot_password {
    position: absolute;
    font-size: 14px;
    width: 71%;
    left: 5%;
    top: 205px;
}

.blur {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
}

#blur_span {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
}

.create_account {
    display: none;
    position: relative;
    margin: auto;
    background-color: darkslategray;
    border: 3px solid black;
    border-radius: 20px;
    top: 20%;
    width: 400px;
    height: 300px;
}

.create_account #first_name {
    position: absolute;
    width: 88%;
    height: 31px;
    border-radius: 5px;
    font-size: 28px;
    color: dimgray;
    left: 5%;
    top: 41px;
}

.create_account #last_name {
    position: absolute;
    width: 88%;
    height: 31px;
    border-radius: 5px;
    font-size: 28px;
    color: dimgray;
    left: 5%;
    top: 82px;
}

.create_account #username {
    position: absolute;
    width: 88%;
    height: 31px;
    border-radius: 5px;
    font-size: 28px;
    color: dimgray;
    left: 5%;
    top: 123px;
}

.create_account #password {
    position: absolute;
    width: 88%;
    height: 31px;
    border-radius: 5px;
    font-size: 28px;
    left: 5%;
    top: 164px;
}

.create_account #signup {
    position: absolute;
    width: 88%;
    height: 32px;
    background-color: bisque;
    border-radius: 10px;
    font-size: 22px;
    left: 5.5%;
    top: 230px; 
}

.forgot_password {
    display: none;
    position: relative;
    margin: auto;
    background-color: darkslategray;
    border: 3px solid black;
    border-radius: 20px;
    top: 20%;
    width: 400px;
    height: 175px;
}

.forgot_password #username {
    position: absolute;
    width: 88%;
    height: 31px;
    border-radius: 5px;
    font-size: 28px;
    color: dimgray;
    left: 5%;
    top: 40px;
}

.forgot_password #recover {
    position: absolute;
    width: 88%;
    height: 32px;
    background-color: bisque;
    border-radius: 10px;
    font-size: 22px;
    left: 5.5%;
    top: 100px;
}